<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demand.well_family.well_family">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!---->
    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--.LoginActivity-->
        <activity
            android:name=".main.intro.activity.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <!--android:windowSoftInputMode="adjustPan">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".family.StoryDetailActivity" />
        <activity android:name=".photos.PhotosActivity" />
        <activity
            android:name=".dialog.popup.photo.activity.PhotoPopupActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".photos.SongPhotoPopupActivity" />

        <activity android:name=".users.UserActivity" />
        <activity android:name=".family.base.activity.FamilyActivity" />
        <activity android:name=".main.base.activity.MainActivity" />
        <activity android:name=".main.join.activity.JoinActivity" />
        <activity android:name=".main.agreement.activity.AgreementActivity" />
        <activity
            android:name=".main.login.activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".main.sns.activity.JoinFromSNSActivity" />
        <activity
            android:name=".CreateStoryActivity"
            android:configChanges="keyboardHidden|orientation" />

        <activity android:name=".memory_sound.SongMainActivity" />
        <activity android:name=".memory_sound.SongChartListActivity" />
        <activity android:name=".memory_sound.SongCategoryListActivity" />
        <activity
            android:name=".memory_sound.SongPlayer"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".users.SongStoryActivity" />
        <activity android:name=".memory_sound.SongRecordActivity" />
        <activity android:name=".users.SongStoryDetailActivity" />
        <activity
            android:name=".market.MarketMainActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".family.create.activity.CreateFamilyActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".search.SearchUserActivity" />
        <activity
            android:name=".memory_sound.EmotionActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".users.EditUserActivity"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".family.EditFamilyActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".dialog.list.comment.activity.CommentDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".dialog.CommentDeleteActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".dialog.CommentModifyActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".setting.base.activity.SettingActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".setting.verifyAccount.activity.VerifyAccountActivity" />
        <activity android:name=".setting.searchAccount.activity.SearchAccountActivity" />
        <activity android:name=".setting.resetPassword.activity.ResetPasswordActivity"/>
        <activity
            android:name=".setting.sendPassword.activity.SendPasswordActivity"
            android:theme="@style/CustomAppTheme" />
        <activity android:name=".notification.NotificationFamilyStoryDetail" />
        <activity android:name=".notification.NotificationSongStoryDetail" />
        <activity android:name=".memory_sound.ModifySongStoryActivity" />
        <activity android:name=".setting.deactivation.activity.DeactivationActivity" />
        <activity
            android:name=".dialog.list.songstory.SongStoryDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".setting.deactivationReason.activity.DeactivationReasonActivity"
            android:theme="@style/CustomAppTheme" />

        <activity
            android:name=".dialog.list.story.StoryDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".dialog.popup.notification.activity.NotificationPopupActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".ModifyStoryActivity" />

        <activity android:name=".family.ManageFamilyActivity" />
        <activity android:name=".family.ManageFamilyListActivity" />
        <activity
            android:name=".dialog.popup.deactivation.activity.DeactivationPopupActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".search.SearchFamilyActivity" />
        <activity
            android:name=".dialog.popup.family.activity.FamilyPopupActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <service android:name=".fcm.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- 페북 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- 네이버 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />

    </application>
</manifest>